.foot {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;

}
.out1 {
    display: flex;
    align-items: center;
    justify-content: center;

}
.out2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imggg {
    background-image: url('../../images/mini-shark.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    margin-left: 200px;
}
.imggg:hover {
    cursor: pointer;
}
