

.link {
    text-decoration: none;
    color: black;
    height: 2vh;
    margin-top: 15px;
    width: 75px;
    text-align: center;
    border-bottom: 3px solid white;
    font-weight: bolder;

}
.link:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(0, 162, 255);
}
.outer {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: white;
    height: 7vh;
    width: 100%;
    color: white;
    border: none;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateZ(100%);


}
.first {
    text-decoration: none;
    color: rgb(0, 53, 13);
    height: 2vh;
    margin-top: 15px;
    width: 75px;
    text-align: center;
    font-weight: bolder;
    margin-right: 1400px;
    font-size: 25px;
}
.first:hover {
    cursor: pointer;
}
.w5 {
    background-image: url('../../images/favicon.png');
}
