.shield {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vh;
    width: 100%;
}
.icon {
    height: 5vh;
    background-color: blue;
    width: 20%;
    position: fixed;
    color: black;
}






.link {
    text-decoration: none;
    color: black;
    height: 2vh;
    margin-top: 15px;
    width: 75px;
    text-align: center;
    border-bottom: 3px solid white;
    font-weight: bolder;

}
.link:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(0, 162, 255);
}
.outer {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: white;
    height: 5vh;
    width: 100%;
    color: white;
    border: none;
    position: fixed;


}
